.fotoPortada {
    border-radius: 10px;
    margin-bottom: 20px;
}

.presentacion {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 30px;
    text-align: center;
    color: #6f8f72;
    text-shadow: 2px 2px 15px #b5cab7;
}

.textoPresentacion {
    font-size: large;
    text-align: center;
    font-weight: 500;
    font-optical-sizing: auto;
    color: #545454;
}
